form {
    margin: 0;
    padding: 0;
}
fieldset {
    border-color: #CCCCCC -moz-use-text-color -moz-use-text-color;
    border-right: medium none;
    border-style: solid none none;
    border-width: 1px medium medium;
    margin: 1em 0;
}
legend {
    background: none repeat scroll 0 0 transparent;
    font-size: 1.3em;
    font-weight: bold;
    margin: 1em 0;
    padding: 0 0.5em;
}

a.darkblue {
    text-decoration:none;
}

a.darkblue:hover {
    text-decoration:underline;
}

label {
    float: left;
    width: 100px;
}
fieldset div {
    display: block;
    margin-bottom: 0.5em;
    padding: 0;
}

fieldset div input,
fieldset div textarea,
fieldset div select,
form.wide .fm-submit input {
    border-color: #555555 #CCCCCC #CCCCCC #555555;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    padding: 1px;
    width: 160px;
    float: right;
}

/*fieldset div select {
    width: 164px;
}*/

div.fm-multi div {
    margin: 5px 0;
}
div.fm-multi input {
    width: 1em;
}
div.fm-multi label {
    display: block;
    padding-left: 5em;
    text-align: left;
    width: 200px;
}
.fm-submit {
    clear: both;
    padding-top: 1em;
    /* text-align: center; */
}
.fm-submit input, .sbmt_bnt {
    background: none repeat scroll 0 0 #555555;
    border: 1px solid #333333;
    color: #FFFFFF;
    font-size: 100%;
    padding: 2px 1em;
    float:left;
    width: 100px;
}
input:focus, textarea:focus {
    background: none repeat scroll 0 0 #EFEFEF;
    color: #000000;
}

.req {
    font-weight: bold;
}

fieldset div.fm-req label:before {
    content: "* ";
}

form fieldset {
    /* margin: 0 auto; */
    padding: 1em;
    text-align: left;
    width: 270px;
}

p#fm-intro {
    margin: 0;
}

form.wide input,
form.wide textarea,
form.wide select {
    width:350px;
}

form.wide .fm-submit input {
    color:#fff;
}

form.wide fieldset {
    width: 460px;
}

form.wide {
    width: 480px;
}

/*form.wide label {
    width: 200px;
}*/
